@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --white_color: #ffffff;
    --glass-border-color: rgba(255, 255, 255, 0.18);
    --glass-shadow-color: rgba(0, 0, 0, 0.1);
}

.Frame {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../../Images/applepark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    display: flex;
}

.Column {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 70px;
}

.Description {
    margin-left: 10px;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(43, 43, 43, 0.3);
    backdrop-filter: blur(3px);
    font-size: 15px;
    font-style: normal;


}

.Description>h1 {
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}

.Description>i {
    cursor: pointer;
}


.IphoneBottom {
    align-self: flex-end;
    width: 400px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Phone,
.Camera {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 10px;
    background-color: #00ef64;
}

.HiddenDescription {
    display: none;
}

.Music {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 10px;
    background-color: #ff005e;
}

.Compass {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 255, 255);
}

.CameraColumn {
    width: 300px;
    gap: 20px;
    right: 20%;
    top: 20%;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.Cameratext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.cameraframe {
    background-color: rgb(255, 255, 255, 0.1);
    height: 40vh;
    border-radius: 10px;
    width: 300px;
    border: 1px solid var(--glass-border-color);
}

.CameraControl {
    display: flex;
    justify-content: space-between;
}

.Photos>img {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    cursor: pointer;
    object-fit: cover;
}

.CameraAction,
.Sync {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
}

.CameraAction>div {
    width: 55px;
    border-radius: 50%;
    background-color: white;
    height: 55px;

}

.TechStack {
    text-transform: capitalize;
    color: red;
}

@media screen and (max-width: 992px) {
    .Frame {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-image: url(../../Images/applepark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Column {
        display: none;
    }

    .Description {
        display: none;
    }

    .IphoneBottom {
        display: none;
    }

    .CameraColumn {
        width: 300px;
        gap: 20px;
        top: 10%;
        right: 10%;
        display: flex;
        flex-direction: column;
    }

    .cameraframe {
        background-color: rgba(56, 56, 56, 0.5);
        height: 50vh;
        border-radius: 10px;
        width: 100%;
        border: 1px solid var(--glass-border-color);
    }

    .HiddenDescription {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-family: "Nunito";
    }

    .HiddenDescription>i {
        cursor: pointer;
    }

}